@import 'assets/global';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

a {
  color: mat-color($mat-indigo, 500);
}

button {
  text-transform: uppercase;
}
